@mixin flex($aling: center, $jutify: center, $direction: column, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $aling;
  justify-content: $jutify;
  gap: $gap;
}
@mixin media-break($media: max-width, $break: 480px) {
  @media screen and ($media: $break) {
    @content;
  }
}
