@use "../abtract/mixin" as layout;
.wrapperButtons {
  width: 8rem;
  height: 3.5rem;
  padding: 1rem 1.5rem;
  @include layout.flex($justify: space-between, $direction: row);
  position: absolute;
  top: 40rem;
  left: 60rem;
  border-radius: 5rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 0.2rem #0004;
  @include layout.media-break() {
    width: 6rem;
    height: 2.5rem;
    padding: 1rem 0.75rem;
    top: 22.8rem;
    left: calc(50% - 4rem);
  }

  &__icon {
    width: 0.8rem;
    cursor: pointer;
  }
}
