@use "../abtract/variable" as colors_bg;
@font-face {
  font-family: Inter_light;
  src: url("../assets/fonts/Inter-Light.ttf");
}
@font-face {
  font-family: Inter_medium;
  src: url("../assets/fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: Inter_bold;
  src: url("../assets/fonts/Inter-Bold.ttf");
}

body {
  min-height: 100vh;
  font-size: 32px;
  font-family: Inter_light;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: colors_bg.$lg;
  font-family: Inter_light;
  color: colors_bg.$dark-blue;
}

span {
  font-family: Inter_bold;
  color: colors_bg.$dark-blue;
}

cite {
  font-size: colors_bg.$md;
  font-style: normal;
  color: colors_bg.$grayish-blue;
}
