*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

img {
  display: block;
  object-fit: cover;
  object-position: center center;
}

html {
  scroll-behavior: smooth;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
